@import './variables.scss';
@import './card.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: $base-font-size;
  color: $base-text-color;
  background-color: $color-background-main;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
