$color-background-main: #141b1c;
$color-background-secondary: #334247;
$color-background-accent: #2a3438;

$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-red: #dc3f45;

$base-font-size: 15px;
$base-text-color: #fff;
